body {
    margin: 0;
    padding: 0;
}

.debug-console {
    position: absolute;
    width: 100%;
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    transition: top .5s ease, bottom .5s ease;
}
.debug-console.closed {
    top: 100%;
}
.debug-console.open {
    bottom: 0;
}

.console-interface {
    position: relative;
    min-height: 100px;
    max-height: 300px;
    width: 100%;
}

.btn-open {
    position: absolute;
    top: -24px;
    left: 10px;
    width: fit-content;
    height: 20px;
    padding: 2px 5px;
    background-color: rgb(24, 24, 24);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}